<h1><%= @passenger.name %></h1>

<h3> All My Flights:</h3>
<% @passenger.flights.each do |flight| %>
  <%= link_to "#{flight.number}", "flight_path" %>
<% end %>

<h2>Add a flight:</h2>
<%= form_tag "/passengers/#{@passenger.id}/flights", method: :create do %>
    <%= label_tag :flight_number %>
    <%= text_field_tag :flight_number %>

    <%= label_tag :flight_date %>
    <%= text_field_tag :date %>

    <%= label_tag :flight_departure_city %>
    <%= text_field_tag :departure_city %>

    <%= label_tag :flight_arrival_city %>
    <%= text_field_tag :arrival_city %>
    <%= submit_tag 'Submit' %>
  <% end  %>
